<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        .bg-green {
            background-color: green;
            padding: 5px;
            border: green 2px solid;
        }
        .bg-red {
            background-color: darkred;
            padding: 5px;
            border: darkred 2px solid;
            color: white;
        }
        .color-yellow {
            background-color: yellow;
            color: black;
        }
    </style>
</head>
<body>

<div id="display-list">
    <button type="button" @click="sortAtoms">Sort By Asc</button>
    <button type="button" @click="pushRandomAtom">Push Atom</button>
    <button type="button" @click="popRandomAtom">Pop Random Atom</button>
    <ul v-if="atomsIsActive"><li v-for="atom in atoms">{{atom.title}}</li></ul>
</div>

<script>
    Vue.createApp({
        data() {
            return {
                atomsIsActive: true,
                atoms : [
                    {id: 2, title:'Body Parts'},
                    {id: 5, title:'Consciousness'},
                    {id: 1, title:'Universe'},
                ]
            }
        },
        methods: {
            sortAtoms() {
                this.atoms.sort(function(a,b) { return a.id - b.id;});
            },
            pushRandomAtom() {
                this.atoms.push({
                    id: this.atoms.length + 1,
                    title: 'New Item:' + (this.atoms.length + 1)
                })
            },
            popRandomAtom() {
                this.atoms.pop()
            }

        }
    }).mount('#display-list');
</script>

==========================================================================

<div id="conditionals">
    
    <h3 v-if="isActive">Here If is <span style="text-decoration: underline red">True</span></h3>
    <h3 v-else>Else <span style="text-decoration: underline red">True</span></h3>
    <h3 v-show="showIsActive">Here is V-show</h3>

</div>

<script>
    Vue.createApp({
        data() {
            return {
                isActive: true,
                showIsActive: false
            }
        }
    }).mount('#conditionals')
</script>


==========================================================================

<div id="watch-example" style="margin-bottom: 8px">

    <p :class="[bgClass,newColorClass]">Class List as array</p>

    <p :class="classObj">
        Задайте вопрос, на который можно ответить «да» или «нет»:
        <input v-model="question" />
    </p>
    <p>{{ answer }}</p>
    <p>Old: {{ old_question }}</p>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script>
    const watchExampleVM = Vue.createApp({
        data() {
            return {
                classObj: {
                    'bg-red':true
                },
                bgClass: 'bg-red',
                newColorClass: 'color-yellow',
                isActive:true,
                question: '',
                answer: 'Вопросы обычно заканчиваются вопросительным знаком. ;-)',
                old_question: '',
                classObject: {

                }
            }
        },
        watch: {
            // при каждом изменении `question` эта функция будет запускаться
            question(newQuestion, oldQuestion) {
                if (newQuestion.indexOf('?') > -1) {
                    this.old_question = oldQuestion
                    this.getAnswer()
                }
            }
        },
        methods: {
            getAnswer() {
                this.answer = 'Думаю...'
                axios
                    .get('https://yesno.wtf/api')
                    .then(response => {
                        this.answer = response.data.answer
                    })
                    .catch(error => {
                        this.answer = 'Ошибка! Нет доступа к API. ' + error
                    })
            }
        }
    }).mount('#watch-example')
</script>

==========================================================================

<div id="computed-setter" style="margin-bottom: 8px">
    <button v-bind:disabled = "isButtonDisabled">Check Disability Status</button>
    <p>{{msg}}</p>
    <input type="text" ref="input">
    <button v-on:click="setMsg">Change</button>
</div>

<script type="module">
    import {ref} from "vue";

    Vue.createApp({
        data() {
            return {
                isButtonDisabled:'',
                msg : 'DSFDLKg'
            }
        },
        setup() {
            const input = ref(null)
            return {
                input
            }
        },
        methods: {
            setMsg() {
                this.msgChange = this.input.value
            }
        },
        computed: {
            msgChange: {
                get() {
                    return this.msg
                },
                set(newVal) {
                    this.msg = newVal
                }
            }
        }
    }).mount('#computed-setter')
</script>

==========================================================================

<div id="computed-attr" style="margin-bottom: 8px">
    Books available: <strong>{{ checkBooks }}</strong>
</div>

<script>

    Vue.createApp({
        data(){
            return {
                author: {
                    name: 'John Doe',
                    books: [
                        'Vue 2 - Advanced Guide',
                        'Vue 3 - Basic Guide',
                        'Vue 4 - The Mystery'
                    ]
                }
            }
        },
        computed: {
            checkBooks() {
                return (this.author.books.length > 0 ? 'Yes' : 'No')
            }
        }
    }).mount("#computed-attr")


</script>

==========================================================================

<div id="dynamic-attr" style="margin-bottom: 8px">
    <p><a v-bind:[bind_attr] = "dyn_attr">{{dyn_attr}}</a></p>
    <p><button v-on:click="random">Random Attr</button></p>
</div>

<script>
    Vue.createApp({
        data() {
            return {
                bind_attr: '',
                dyn_attr: 'one time',
            }
        },
        methods: {
            random() {
                let bind_attr, num = Math.round(Math.random() * 10);
                if (num % 2 === 0) bind_attr = 'title'
                else bind_attr = 'href'
                this.bind_attr = bind_attr
                this.dyn_attr = num
            }
        }
    }).mount('#dynamic-attr')

</script>


==========================================================================

<div id="raw-html" style="margin-bottom: 8px">
    <p>Как текст: {{just_text}}</p>
    <p>Как html: <span id="tttt" v-html="just_text"></span></p>
    <p><a v-bind:href="url" target="_blank">Магазин</a></p>
    <p>
        <button v-on:click="url_change('http://alser.kz')">Alser</button>
        <button v-on:click="url_change('http://sulpak.kz')">Sulpak</button>
    </p>
</div>

<script>
    Vue.createApp({
        data(){
            return {
                url : "man",
                just_text: "<strong>Rendered as Bold</strong>"
            }
        },
        methods: {
            url_change(url) {
                return this.url = url
            },
            url_alser() {
                return this.url = "http://alser.kz"
            },
            url_sulpak() {
                return this.url = "http://sulpak.kz"
            }
        }
    }).mount('#raw-html')
</script>

==========================================================================

<div id="once-interpolation" style="margin-bottom: 8px">
    <span v-once>{{msg}}</span>
</div>

<script>
    Vue.createApp({
        data() {
            return {
                msg: 'rendered once'
            }
        },
        methods: {
            methodThatForcesUpdate() {
                this.$forceUpdate();  // Notice we have to use a $ here
            }
        },
        mounted() {
            setTimeout(() => {
                this.msg = "updated"
            },1500)
            // this.$forceUpdate();
        }
    }).mount('#once-interpolation')
</script>

==========================================================================

<div id="counter" style="margin-bottom: 8px">
    Счётчик: {{ counter }} {{what_else}}
</div>

<script>
    const counter = {
        data() {
            return {
                counter: 0,
                what_else: '<- Here changing'
            }
        },
        mounted() {

            setInterval(() => {

                this.counter++
            },500)
        }
    }

    Vue.createApp(counter).mount('#counter')
</script>

==========================================================================

<div id="bind-attr" style="margin-bottom: 8px">
    <span v-bind:title="msg">Наведи на меня курсор на пару секунд, чтобы
    увидеть динамически связанное значение title!</span>

</div>

<script>
    const attr_bind = {
        data() {
            return {
                msg: 'page loaded ' + new Date().toLocaleString()
            }
        }
    }

    Vue.createApp(attr_bind).mount("#bind-attr")

</script>

==========================================================================

<div id="event-handling" style="margin-bottom: 8px">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Перевернуть сообщение</button>
</div>

<script>
    const event_handling = {
        data() {
            return {
                message: 'Привет, Vue.js'
            }
        },
        methods: {
            reverseMessage() {
                this.message = this.message
                    .split('')
                    .reverse()
                    .join('')
            }
        }
    }

    Vue.createApp(event_handling).mount("#event-handling")
</script>

==========================================================================

<div id="two-way-binding" style="margin-bottom: 8px">
    <p>{{ message }}</p>
    <input v-model="message" />
</div>

<script>

    const TwoWayBinding = {
        data() {
            return {
                message: 'Привет, Vue!'
            }
        }
    }

    Vue.createApp(TwoWayBinding).mount('#two-way-binding')

</script>

==========================================================================

<div id="conditional-rendering" style="margin-bottom: 8px">
    <p v-if="seen">Сейчас меня видно</p>
    <button v-on:click="setVisibility">Видимость</button>
</div>

<script>

    const ConditionalRendering = {
        data() {
            return {
                seen: true
            }
        },
        methods: {
            setVisibility() {
                this.seen = !this.seen
            }
        }
    }

    Vue.createApp(ConditionalRendering).mount('#conditional-rendering')

</script>

==========================================================================

<div id="list-rendering" style="margin-bottom: 8px">
    <ol>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>
</div>

<script>

    const ListRendering = {
        data() {
            return {
                todos: [
                    { text: 'Learn JavaScript' },
                    { text: 'Learn Vue' },
                    { text: 'Build something awesome' }
                ]
            }
        }
    }

    Vue.createApp(ListRendering).mount('#list-rendering')
</script>

==========================================================================

<div id="template" style="margin-bottom: 8px">
    <ol>
        <text-item v-for="item in items">{{item.text}}</text-item>
    </ol>
</div>

<script>
    //Registering comp
    const TextItem = {
        template: `<li><slot /></li>`
    }

    // Создаём Vue-приложение
    const app = Vue.createApp({
        data() {
            return {
                items: [
                    { text: 'Kuala Lumpur' },
                    { text: 'Vandals Cave' },
                    { text: 'Mango Bango' }
                ]
            }
        },
        components: {
            TextItem: TextItem // Регистрируем новый компонент
        }
    })

    app.mount("#template")
</script>


==========================================================================

<div id="todo-list-app">
<ol>
    <todo-item2
            v-for="item in groceryList"
            v-bind:todo = 'item'
            v-bind:key = 'item.id'
    ></todo-item2>
</ol>
</div>

<script>

    const TodoItem2 = {
        props: ['todo'],
        template: '<li>{{todo.text}}</li>'
    }

    const TodoList = {
        data() {
            return {
                groceryList: [
                    {id: 0, text: 'Vegetables'},
                    {id: 1, text: 'Cheese'},
                    {id: 2, text: 'Else food'},
                ]
            }
        }

    }
</script>

==========================================================================




</body>
</html>